<br>
<mat-card>
  <mat-card-header class="align-self-center d-flex justify-content-between">
    <mat-card-title>Lista De Clientes</mat-card-title>
    <button type="button" class="btn btn-primary" (click)="novo()" >Novo</button>

  </mat-card-header>
</mat-card>

<br>


<div *ngFor="let item of Cliente" class="bgGlobal p-3 card-borde mb-3">


    <div class="row mb-3">
      <div class="col-12 col-sm-3 col-lg-3 m-3 h6">
        <label class="labelForm">Nome: </label>{{ item.nome }}
      </div>
      <div class="col-12 col-sm-3 col-lg-3 m-3 h6">
        <label class="labelForm" >CPF: </label>{{ item.cpf }}
      </div>
      <div class="col-12 col-sm-3 col-lg-3 m-3 h6">
        <label class="labelForm">E-mail: </label>{{ item.email }}
      </div>
      <div class="col-12 col-sm-3 col-lg-3 m-3 h6">
        <label class="labelForm">Data de Nascimento: </label>{{ item.dataNascimento }}
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12 m-3">
        <label class="labelForm">Rua: </label> {{ item.endereco.rua }}
      </div>
      <div class="col-12 col-sm-3 col-lg-2 m-3">
        <label class="labelForm">Cep: </label> {{ item.endereco.cep }}
      </div>
      <div class="col-12 col-sm-6 col-lg-3 m-3">
        <label class="labelForm">Complemento: </label>{{ item.endereco.complemento }}
      </div>
      <div class="col-12 col-sm-3 col-lg-2 m-3">
        <label class="labelForm">Numero: </label>{{ item.endereco.numero }}
      </div>


      <div class="col-12 col-sm-4 col-lg-4 m-3">
        <label class="labelForm">Bairro: </label>{{ item.endereco.bairro }}
      </div>

      <div class="col-12 col-sm-2 col-lg-2 m-3">
        <label class="labelForm">Estado: </label>{{ item.endereco.estado }}
      </div>



      <div class="col-12 col-sm-4 col-lg-4 m-3">
        <label class="labelForm">Cidade: </label>{{ item.endereco.cidade }}
      </div>
    </div>

    <div class="row">

      <div class="col-12 m-3">

        <button mat-raised-button color="primary" class="mr-3" (click)="edit(item, item.idCliente)">Editar</button>
        <button mat-raised-button color="warn" (click)="excluir(item.idCliente)">Delete</button>

      </div>
    </div>
</div>



