
<mat-card class="mb-3 mt-3">
  <mat-card-header class="align-self-center d-flex justify-content-between">
    <mat-card-title>Carrinho</mat-card-title>
    <button type="button" class="btn btn-primary" (click)="limpar()" >Limpar Carrinho</button>

  </mat-card-header>
</mat-card>

<div class="row mb-3">
  <div class="col-12">

    <div  class="bgGlobal p-3 card-borde mb-3">

      <form (ngSubmit)="onSubmit()" [formGroup]="formulario">
        <div class="col-xs-12 col-sm-6 col-lg-3 pl-0">
          <div class="form-group d-flex align-items-center mb-3">
            <label class="labelForm">Cliente: </label>
            <select id="cidade" class="form-control" formControlName="cliente">
              <option *ngFor="let cli of Cliente | async" [value]="cli.nome" > {{cli.nome}}</option>
            </select>
            <msn-valid cssErro="danger" [control]="formulario.get('cidade')?.value" label="Cidade" ></msn-valid>
          </div>
        </div>


        <div *ngFor="let item of myOrderItems$ | async" class="d-sm-flex align-items-center justify-content-between mb-3">

              <div class="h6 d-flex align-items-center">
                <label class="labelForm m-0">Nome:</label>{{item.nomeProduto}}

              </div>
              <div class="h6 d-flex align-items-center">
                <label class="labelForm m-0">Valor: </label> {{item.valorProduto| currency}}
              </div>

              <div class="h6 d-flex align-items-center">
                <label class="labelForm m-0" >Quanditdade: </label>
                <div>{{item.quantidade}}</div>
              </div>
              <div class="h6 d-flex align-items-center justify-content-between">
                <div>
                  <label class="labelForm m-0">Total: </label>
                  <div>{{item.quantidade * item.valorProduto| currency }}</div>
                </div>
               <div>
                <button mat-raised-button color="warn" class=" ml-auto" (click)="Remover(item)">Remover</button>
               </div>
              </div>
        </div>
        <div class="col-sm-12 mt-6 pl-0 d-flex justify-content-between">
          <div>
            <button class="btn-outline-light btn btn-success mr-3" type="submit">Salvar</button>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Voltar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
