
<mat-card class="mb-3 mt-3">
  <mat-card-header class="align-self-center d-flex justify-content-between">
    <mat-card-title>Carrinho</mat-card-title>
    <button type="button" class="btn btn-primary" (click)="limpar()" >Limpar Carrinho</button>

  </mat-card-header>
</mat-card>

<div class="row mb-3">
  <div class="col-12">

    <div  class="bgGlobal card-borde mb-3 overflow-hidden">

      <form (ngSubmit)="onSubmit()" [formGroup]="formulario">
        <div class="col-xs-12 col-sm-6 col-lg-3 mb-3 mt-3 h6">
          <div class="form-group d-flex align-items-center mb-3">
            <label class="labelForm">Cliente: </label>
            <select id="cidade" class="form-control" formControlName="cliente">
              <option *ngFor="let cli of Cliente | async" [value]="cli.nome" > {{cli.nome}}</option>
            </select>
            <msn-valid cssErro="danger" [control]="formulario.get('cidade')?.value" label="Cidade" ></msn-valid>
          </div>
        </div>


        <div *ngFor="let item of myOrderItems$ | async" class="d-flex flex-wrap mb-3">

              <div class="col-12 col-sm-12 col-lg-4 mb-3 mt-3 h6 align-items-center">
                <label class="labelForm m-0">Nome:</label>{{item.nomeProduto}}
              </div>

              <div class="col-12 col-sm-12 col-lg-2 mb-3 mt-3 h6 align-items-center">
                <label class="labelForm m-0">Valor: </label> {{item.valorProduto| currency}}
              </div>

              <div class="col-12 col-sm-12 col-lg-2 mb-3 mt-3 h6 align-items-center">
                <label class="labelForm" >Quanditdade: </label>{{item.quantidade}}
              </div>

              <div class="col-12 col-sm-12 col-lg-2 mb-3 mt-3 h6 align-items-center">
                <div>
                  <label class="labelForm m-0">Total: </label>{{item.quantidade * item.valorProduto| currency }}
                </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-2 mb-3 mt-3 h6 align-items-center">
                <button mat-raised-button color="warn" class="float-lg-right" (click)="Remover(item)">Remover</button>
              </div>
        </div>
        <div class="col-12 mb-3 mt-5 d-flex flex-wrap justify-content-between">
          <div>
            <button class="btn-outline-light btn btn-success" type="submit">Salvar</button>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Voltar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
