
body{
  background: #5a6aa5 !important
}


.card{
  border: none;
}

.card-responsivo-creat{
    width: 100%;
    overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.card-header{
  background-color: rgba(255,255,255,.5) !important;
  border: none;
  padding: 0;
}

.mat-card-header-text{
  margin-left: 0 !important;
}

/*acordion*/
/*
.accordion-toggle:focus, .btn-link:focus{
  outline: none !important;
  border: none !important;
}

 .btn-link, .card-header, .card-body{
  background: #191b25 !important;
  /*color: #676a8e !important;
  color: #fff;
  fill: #fff;
  text-decoration: none;

}

.btn-link:hover{
  text-decoration: none;
  color: #fff;
  fill: #fff;
}

.btn-link{
  width: 100%;
  height: 140px;
  display: flex;
}
*/


/*Novo template   */
.bgGlobal{
  background: #323751 !important;
  /*color: #676a8e !important;*/
  color: #fff;
  fill: #fff;
}

  /*borda card */
.card-borde{
  border-radius: 4px;
}

/*navbar*/

.navbar{
  height: 54px;
}

/*menu sidenav*/
.nav-link{
  color: #fff !important;
}

/*sub menu*/
.navbar-dark .navbar-nav .show>.nav-link{
  /*color: rgba(255,255,255,.75);*/
  /*color: #676a8e;*/
  color: #fff;

}

/*link ativado do menu*/
.navbar-dark .navbar-nav .nav-link.active{
  /*color: #fff !important;*/
  color: rgb(8 198 189 / 98%) !important;
}


/*divizoria do menu*/
.mat-divider {
  border-top-color: rgb(151 170 231/ 11%);
}

/*card */
.mat-card, .mat-card-title {
  /* background: #191b25 !important; */
  background-color: #323751 !important;
  color: rgb(8 198 189 / 98%) !important;
}
.mat-card-subtitle, .mat-card-content{
  /*color: #676a8e !important;*/
  font-weight: 100;
  color: #fff
}

/**/
.form-control{
  background-color: black;
  color: #fff;

}

/*
.mat-card:not([class*=mat-elevation-z]) {
  /*
  box-shadow: 0px 2px 1px -1px rgb(61 124 101 / 97%), 0px 1px 1px 0px #35726a, 0px 1px 3px 0px #2a787e;
  */
  /*
  box-shadow: rgb(151 170 231/ 11%);
}*/

/*tabela*/
th.mat-header-cell, td.mat-cell,
td.mat-footer-cell, .mat-paginator-container,
.mat-select-value, .mat-select-arrow
{
  background: #191b25 !important;
  color: #fff !important;
  font-weight: 100;
}
.mat-row, .mat-header-row, .mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-color: rgb(8 198 189 / 98%) !important;
}

/*cor sim cor não*/
/*
tr:nth-child(even) {background: #123232ed !important;}
tr:nth-child(odd) {background: #191b24 !important;}*/

/*drop down*/
.example-box,
.mat-expansion-panel,
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after,
.mat-panel-description
{
  background: #191b25 !important;
  color: #fff !important;
}

.example-list{
border: none !important;
border-radius: 0 !important;
}

/*tab*/

.mat-tab-label-content{
color: rgb(8 198 189 / 98%) !important;
}

/*Cores de botão*/
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #007bff !important;
}

/*fonte tabela*/
.mat-cell, .mat-footer-cell {
  font-size: 16px;
}


/*editado - removendo borda do botão*/
button.mat-icon-button {
  border: none;
  height: 24px;

}
button.mat-icon-button:focus {
  border: none;
  outline: none;
}


/*Alerta de erro*/

.alert-danger {
  color: #f1d7da;
  background-color: #1b0103;
  border-color: #050102;
}


.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background-color: #af3740;
}

/*formulario*/
.labelForm, th{
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgb(8 198 189 / 98%) !important;
  padding-right: 1em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*paginação*/
.ngx-pagination .disabled {
  color: rgb(8 198 189 / 98%) !important;
}

.ngx-pagination a, .ngx-pagination button {
  color: #fff;
}
