<br>
<mat-card>
  <mat-card-header class="align-self-center d-flex justify-content-between">
    <mat-card-title>Lista De Produtos</mat-card-title>
    <button type="button" class="btn btn-primary" (click)="novo()" >Novo</button>

  </mat-card-header>
</mat-card>

<br>

<div class="card-responsivo-creat">

  <!-- <table mat-table matSort [dataSource]="dataSource" class="full-width-table" >


    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.idProduto}} </td>
    </ng-container>


    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>


    <ng-container matColumnDef="Valor Unitario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Unitário </th>
      <td mat-cell *matCellDef="let element"> {{element.valorUnitario}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let element" >
          <button mat-raised-button color="primary" class="mr-3" (click)="edit(element, element.idProduto)">Editar</button>
          <button mat-raised-button color="warn" (click)="excluir(element.idProduto)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table> -->
  <table class="table bgGlobal">
    <thead>
      <tr class="rowgroup">
        <th role="columnheader" *ngFor="let item of displayedColumns" >
          {{item}}
        </th>
      </tr>
    </thead>
    <tbody role="rowgroup">
      <tr role="row" *ngFor="let item of Produtos | paginate: { itemsPerPage: 3, currentPage: p }">
        <td role="cell" >{{item.idProduto}}</td>
        <td role="cell" >{{item.nome}}</td>
        <td role="cell" >{{item.valorUnitario}}</td>
        <td role="cell" >
          <button mat-raised-button color="primary" class="mr-3" (click)="edit(item, item.idProduto)">Editar</button>
          <button mat-raised-button color="warn" (click)="excluir(item.idProduto)">Delete</button>
        </td>
      </tr>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </tbody>
  </table>
  <!-- <mat-paginator #paginator
    [length]="5"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[3, 5, 10, 20]" showFirstLastButtons>
  </mat-paginator> -->

</div>





