<br>
<mat-card class="mt-2">
  <mat-card-header class="align-self-center d-flex justify-content-between">
    <mat-card-title>Lista De Pedidos</mat-card-title>
    <button type="button" class="btn btn-primary" (click)="novo()" >Novo</button>

  </mat-card-header>
</mat-card>

<br>


<div *ngFor="let item of Pedido1 | async" class="bgGlobal card-borde mb-3 overflow-hidden">

  <div class="d-flex flex-wrap mb-3">

      <div class="col-12 col-sm-12 col-lg-12 mb-3 mt-3">
        <label class="labelForm">Id da Venda: </label>{{ item.idVenda }}

      </div>

      <div class="col-12 col-sm-12 col-lg-12 mb-3 mt-3">
        <label class="labelForm">Data e Hora da venda: </label>{{ item.dataHora }}
      </div>

      <div class="col-12 col-sm-12 col-lg-12 mb-3 mt-3">
        <label class="labelForm">Identificação do cliente: </label>{{ item.cliente }}
      </div>

      <div class="col-12 col-sm-12 col-lg-12 mb-3 mt-3">
        <label class="labelForm">Total da venda: </label>{{ item.totalVenda }}
      </div>

  </div>

  <div class="col-12 mb-3 mt-3 d-flex flex-wrap justify-content-between">
    <button mat-raised-button color="warn" (click)="excluir(item.idVenda)">Delete</button>
  </div>

</div>
