<br>
<br>
<br>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Formulario De Produtos</mat-card-title>

  </mat-card-header>

</mat-card>

<br>

<mat-card>
  <mat-card-content>


    <form (ngSubmit)="onSubmit()" [formGroup]="formulario">
      <div class="row">

        <div class="col-sm-6 col-lg-6">
          <div class="form-group ">
            <label>Nome: </label>
            <input class="form-control" type="text" formControlName="nome" id="nome" name="nome" >
            <msn-valid cssErro="danger" [control]="formulario.get('nome')" label="Nome" ></msn-valid>
          </div>
        </div>

        <div class="col-sm-6 col-lg-6">
          <div class="form-group ">
            <label>Valor: </label>
            <input class="form-control" type="number" formControlName="valorUnitario" id="valorUnitario" name="valorUnitario" >
            <msn-valid cssErro="danger" [control]="formulario.get('valorUnitario')" label="Valor" ></msn-valid>
          </div>
        </div>

        <br>
        <div class="col-sm-12">
          <button class="btn-outline-light btn btn-success mr-3"
          type="submit"
          >Salvar</button>

          <button type="button" class="btn btn-secondary" (click)="onCancel()">Volta</button>

        </div>

      </div>
    </form>

  </mat-card-content>
</mat-card>
