
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Formulario De Produtos</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
</mat-card>

<br>




<form (ngSubmit)="onSubmit()" [formGroup]="formulario">

  <div>
    <label>Nome: </label>
    <input type="text" formControlName="nome" id="nome" name="nome" >
  </div>

  <div>
    <label>Valor: </label>
    <input type="number" formControlName="valorUnitario" id="valorUnitario" name="valorUnitario" >
  </div>
<br>
  <button type="submit">Salvar</button>
<br><br><br>
  <a (click)="onCancel()">Cancelar</a>

</form>
